<script>
	import Datetime from '$lib/components/datetime.svelte';
	import { createEventDispatcher } from 'svelte';

	export let incident;
	export let allowCancel = false;

	let dispatch = createEventDispatcher();

	const save = () => {
		dispatch('save', incident);
	};
</script>

<form on:submit={(e) => e.preventDefault()} class={$$props.class || null}>
	<label class:value={incident.type}>
		<span>Incident Type</span>
		<select bind:value={incident.type}>
			<option />
			<option value="exercise">Exercise</option>
			<option value="incident">Incident</option>
			<option value="event">Event</option>
		</select>
	</label>
	<label class:value={incident.name}>
		<span>Incident Name</span>
		<input bind:value={incident.name} />
	</label>
	<label class="value">
		<span>Start Time</span>
		<Datetime bind:value={incident.startTime} />
	</label>
	<label class="value">
		<span>End Time</span>
		<Datetime bind:value={incident.endTime} />
	</label>
	<label class:value={incident.description}>
		<span>Description</span>
		<textarea bind:value={incident.description} />
	</label>
	<div class="buttons">
		{#if allowCancel}
			<button type="reset" on:click={() => dispatch('cancel', null)}>
				{typeof allowCancel !== 'boolean' ? allowCancel : 'Cancel'}
			</button>
		{/if}
		<button on:click={save}>
			{incident ? 'Save' : 'Create'}
		</button>
	</div>
</form>

<style>
	.buttons {
		text-align: right;
		padding: 0.6rem 0;
	}
</style>
