<script context="module">
	import { base } from '$lib/api';

	/** @type {import('@sveltejs/kit').Load}
	 * Load function to preload config into app
	 */
	export async function load({ fetch }) {
		try {
			const [config, personnel] = await Promise.all([
				fetch(base + '/config').then((res) => res.json()),
				fetch(base + '/personnel/list').then((res) => res.json())
			]);

			return {
				props: {
					config,
					personnel
				}
			};
		} catch (error) {
			return {
				props: {
					error: new Error('Could not load config')
				}
			};
		}
	}
</script>

<script>
	import { setContext } from 'svelte';
	import IconSet from '$lib/components/iconSet.svelte';
	import Icon from '$lib/components/icon.svelte';
	import { lists, setList } from '$lib/stores/lists';
	import { clearStatus, statusMessages } from '$lib/stores/status';
	import { assets, fetchAssets } from '$lib/stores/assets';
	import { browser } from '$app/env';

	export let config;
	export let personnel;

	if (personnel) {
		setList('personnel', personnel);
	}

	if ($assets === null && browser) {
		fetchAssets(fetch);
	}

	$: if ($assets) {
		setList(
			'radios',
			$assets.map((r) => ({
				value: r.id,
				label: r.callsigns?.[0] || r.name
			}))
		);
	}

	setContext('config', config);
	// TODO Is there a better place?
	if (config.lists) {
		const entries = Object.entries(config.lists);
		for (const [key, list] of entries) {
			setList(key, list);
		}
	}
</script>

<svelte:head>
	<title>{config?.name || 'on-location'}</title>
</svelte:head>

<IconSet />
<slot />
{#if config?.lists}
	{#each Object.entries(config.lists) as [id, list] (id)}
		<datalist {id}>
			{#each list as item}
				{#if typeof item === 'object'}
					<option value={item.label} />
				{:else}
					<option value={item} />
				{/if}
			{/each}
		</datalist>
	{/each}
{/if}
{#each Object.entries($lists) as [id, list] (id)}
	<datalist {id}>
		{#each list as item, id (id)}
			<option value={item.label} />
		{/each}
	</datalist>
{/each}

<div class="statusMessages">
	{#each $statusMessages as status}
		<div class={status.options?.type}>
			<div>
				<span>{status.message}</span>
				<Icon icon="close" button on:click={() => clearStatus(status)} />
			</div>
		</div>
	{/each}
</div>

<style>
	.statusMessages {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: var(--background);
		z-index: 10000;
	}

	.statusMessages > div > div {
		padding: 5px;
		max-width: 90ch;
		margin: 1px auto 0;
		display: flex;
	}

	.statusMessages span {
		flex-grow: 1;
	}
</style>
