body,
html {
	margin: 0;
	height: 100%;
	background: var(--background);
	color: var(--color);
}

body {
	font-family: var(--font-family);
	display: flex;
	flex-direction: column;
}

a {
	color: var(--interactive-color);
	text-decoration: none;
}

a:hover {
	color: var(--hover-color);
	text-decoration: underline;
}

button,
summary {
	cursor: pointer;
}

button,
.button {
	background: var(--button-background);
	color: var(--color);
	border: none;
	padding: 0.1em 1em;
	font-size: 1em;
}

button.icon {
	background: none;
	color: var(--interactive-color);
	border: none;
	font-size: 1em;
	cursor: pointer;
	padding: 0 0.5em;
}

button:hover,
.button:hover {
	background: var(--button-hover-background);
	color: var(--hover-color) !important;
}

button.icon:hover {
	background: none;
}

button.icon[disabled] {
	color: var(--color);
	cursor: default;
}

button:disabled {
	color: var(--color) !important;
	cursor: default;
	opacity: 0.4;
}

form .label,
form label {
	position: relative;
	display: block;
}

form .label {
	padding-left: 0.6em;
	padding-top: 0.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

form .group {
	margin: 0 0 0.5em 0.5em;
	padding: 0.2em 0 0.2em 0.5em;
	border-left: solid 2px var(--related-border-color);
}

details > .group {
	margin: 0 0 0.5em 0.2em;
	padding: 0.2em 0 0.2em 0.4em;
}

form .group .group {
	margin: 0 0 0.5em 0.2em;
}

form .label > span,
form label > span {
	position: absolute;
	padding: 0.1em 0.2em;
	color: var(--color);
	cursor: text;
	line-height: 1;
	left: 0.5em;
	top: 0.7em;
	transition: all 0.1s;
	pointer-events: none;
	z-index: 2;
}

form label.required > span:after {
	content: '*';
}

form label.required > span {
	font-weight: bold;
}

form label.required.value > span {
	font-weight: normal;
}

form .label:not(label) > span,
form label:focus-within > span,
form label.value > span {
	color: var(--color);
	font-size: 0.7em;
	top: 0.1em;
	padding: 0 0.2em;
	cursor: unset;
	background: var(--background);
}

form .label:not(label) > span {
	top: 0;
}

form label > .help {
	font-size: 0.8em;
	padding-left: 0.4em;
	color: var(--help-color);
	margin-bottom: 0.5em;
}

form label > select:focus ~ .help,
form label > input:focus ~ .help,
form label > textarea:focus ~ .help,
form label > select:hover ~ .help,
form label > input:hover ~ .help,
form label > textarea:hover ~ .help {
	color: var(--focussed-help-color);
}

form label.checkbox > span {
	display: inline-block;
	position: relative;
	font-size: 1em;
	top: 0;
	padding: 0;
}

form .label > .sub {
	font-size: 0.7em;
	color: var(--help-color);
	line-height: 1;
	margin-bottom: 0.6em;
}

select,
input[type='datetime-local'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='file'],
input[type='tel'],
input[type='number'],
input:not([type]),
input[type='text'],
textarea {
	font-size: 1em;
	background: none;
	color: var(--interactive-color);
	width: 100%;
	width: calc(100% - 0.6rem);
	border: solid 1px var(--button-background);
	padding: 0.2em 0 0.2em 0.5em;
	margin-top: 0.4em;
	border-radius: 2px;
}

select {
	width: 100%;
}

select:focus-visible,
input[type='datetime-local']:focus-visible,
input[type='password']:focus-visible,
input[type='email']:focus-visible,
input[type='url']:focus-visible,
input[type='search']:focus-visible,
input[type='file']:focus-visible,
input[type='tel']:focus-visible,
input[type='number']:focus-visible,
input:not([type]):focus-visible,
input[type='text']:focus-visible,
textarea:focus-visible {
	outline: none;
	border: solid 1px var(--interactive-color);
}

select[multiple] {
	appearance: none;
	padding-top: 0.4rem;
}

select[multiple] option {
	display: none;
}

select[multiple] option:checked {
	background-color: var(--selected-background) !important;
	color: var(--selected-color) !important;
	display: inline-block;
	pointer-events: none;
}

select[multiple]:focus option,
select[multiple]:focus-within option {
	display: block;
}

select[data-visited]:invalid,
input[type='datetime-local'][data-visited]:invalid,
input[type='password'][data-visited]:invalid,
input[type='email'][data-visited]:invalid,
input[type='url'][data-visited]:invalid,
input[type='file'][data-visited]:invalid,
input[type='tel'][data-visited]:invalid,
input[type='number'][data-visited]:invalid,
input:not([type])[data-visited]:invalid,
input[type='text'][data-visited]:invalid,
textarea[data-visited]:invalid {
	border-bottom: solid 1px var(--invalid-border-color);
}

textarea {
	scrollbar-color: var(--color) var(--background);
	min-height: 1.5em;
	font-family: inherit;
}

.menu {
	display: inline-block;
	position: relative;
}

.menu > button {
	padding: 0;
}

.menu > div {
	position: absolute;
	z-index: 10001;
	background: #fff;
	background: var(--background);
	color: #000;
	color: var(--color);
	text-align: left;
	text-align: start;
	overflow-y: auto;
	width: min(100vw, 400px);
	margin-top: 0.45rem;
	max-height: calc(100vh - 2.2rem);
	left: calc((100% - min(100vw, 400px)) / 2);
}

@media (max-width: 800px) {
	.menu {
		position: unset;
	}
}

.menu > div > * {
	padding: 0.5em 1em;
}

.menu form {
	min-width: 200px;
}

.menu h2,
.menu p,
.menu h3 {
	margin: 0;
}

.menu h2 {
	font-size: 1.2em;
}

.menu h3 {
	font-size: 1.1em;
}

.cover {
	position: absolute;
	z-index: 10000;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.flex {
	display: flex;
	align-items: center;
}

.gap {
	gap: 5px;
}

.shrink {
	flex-shrink: 1;
}

.grow {
	flex-grow: 1;
}
.smallgrow {
	flex-grow: 0.2;
}

.border {
	border-left: solid 4px transparent;
}

.border.related {
	border-left-color: var(--related-border-color);
}

.border.unseen {
	border-left-color: var(--unseen-border-color);
}

.border.active {
	border-left-color: var(--active-border-color);
}

.border.unsaved {
	border-left-color: var(--unsaved-border-color);
	background: var(--unsaved-background-color);
}

.border.invalid,
.border:invalid {
	border-left-color: var(--invalid-border-color);
	background: var(--invalid-background-color);
	--background: var(--invalid-background-color);
}

.error {
	background: var(--error-background-color);
	color: var(--error-color);
}

.warning {
	background: var(--warning-background-color);
	color: var(--warning-color);
}

.success {
	background: var(--ok-background-color);
	color: var(--ok-color);
}

.statusMessages .active {
	background: var(--active-background-color);
	color: var(--active-color);
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.statusMessages .active span::after {
	width: 0.7em;
	height: 0.7em;
	border-radius: 50%;
	border-style: solid;
	border-color: var(--active-color) var(--active-color) transparent transparent;
	border-width: 2px;
	display: inline-block;
	vertical-align: middle;
	animation: spinner 700ms linear infinite;
	content: '';
	margin-left: 0.5em;
	margin-bottom: 0.2em;
}

.tableScroll {
	position: relative;
	overflow-y: auto;

	thead {
		position: sticky;
		top: 0;
	}
}

table {
	border-collapse: collapse;
}

table.data {
}

table.data th {
	text-align: left;
}
