<script>
	import Events from '$lib/components/events/index.svelte';
	import Map from '$lib/components/map/index.svelte';
</script>

<main>
	<Events />
	<Map />
</main>

<style>
	main {
		display: flex;
		flex-grow: 1;
	}
</style>
