<script context="module">
	import { incidents, currentIncident, fetchIncidents } from '$lib/stores/incidents';
	import { get } from 'svelte/store';
	import { base } from '$lib/api';
	import { removeEmptyValues } from '$lib/utils';
	import { goto } from '$app/navigation';
	import { browser } from '$app/env';

	/** @type {import('@sveltejs/kit').Load} */
	export async function load({ params, fetch }) {
		if (!browser || (get(incidents) === null && incidents.fetch === null)) {
			await fetchIncidents(fetch);
		}

		currentIncident.setId(params.operation || null);

		return {};
	}
</script>

<script>
	import Assignments from '$lib/components/assignments/assignments.svelte';
	import Header from '$lib/components/layout/header.svelte';
	import { getContext, setContext } from 'svelte';
	import Icon from '$lib/components/icon.svelte';
	import Incident from '$lib/components/incident/index.svelte';
	import TimeRange from '$lib/components/timerange.svelte';
	import { derived } from 'svelte/store';
	import { user } from '$lib/stores/user';
	import DownloadMenu from '$lib/components/incidentDownload.svelte';

	const otherIncidents = derived([incidents, currentIncident], ([$incidents, $currentIncident]) => {
		const others = [];

		if ($incidents?.length) {
			for (let i = 0; i < $incidents.length; i++) {
				if ($incidents[i].id === $currentIncident?.id) continue;
				others.push($incidents[i]);
			}
		}
		others.reverse();
		return others;
	});

	let incidentSaveStatus = null;

	let menuOpen = !$currentIncident ? 'incident' : null;

	const resetIncidentOpen = () => {
		menuOpen = !$currentIncident ? 'incident' : null;
	};
	let phaseOpen = false;

	let config = getContext('config');
	let assignmentsOpen = false;

	setContext('incident', $currentIncident);

	$: resetIncidentOpen($currentIncident);

	const saveIncident = (event) => {
		incidentSaveStatus = 'Saving...';

		const fetchOptions = {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(removeEmptyValues(event.detail))
		};

		if ($currentIncident) {
			fetchOptions.method = 'PATCH';
		}

		fetch(base + '/incidents', fetchOptions).then((response) => {
			if (response.status === 201) {
				response.json().then((data) => {
					//TODO
					/*const incident = {
						...event.detail,
						...data
					};*/
					incidentSaveStatus = null;
					goto(`/operation/${data.id}`);
				});
			}
		});
	};

	const toggleMenu = (menu) => {
		if (menuOpen === menu) {
			menuOpen = null;
		} else {
			menuOpen = menu;
		}
	};

	const closeAll = () => {
		menuOpen = null;
	};

	let shareUrl = null;

	$: shareUrl = $user
		? new URL(`${base}/positions/share?id=${$user.id}`, document.URL).toString()
		: null;
</script>

<Header menuOpen={menuOpen !== null}>
	<svelte:fragment slot="heading">
		{config.titleSeparator}
		<div class="menu">
			<button
				aria-expanded={menuOpen === 'incident'}
				aria-controls="incident"
				on:click={() => toggleMenu('incident')}
			>
				{#if !$currentIncident && $incidents}
					Select or create incident
				{:else if !$currentIncident}
					No current or future incidents
				{:else}
					{$currentIncident.name}
				{/if}
				<Icon icon={menuOpen === 'incident' ? 'collapse' : 'expand'} />
			</button>
			<div id="incident" hidden={menuOpen !== 'incident'}>
				<h2>{!$currentIncident ? 'Create Incident' : 'Incident'}</h2>
				<Incident incident={$currentIncident || {}} on:save={saveIncident} />

				{#if $incidents}
					<h3>Other incidents</h3>
					{#if !$otherIncidents.length}
						<p>No other incidents</p>
					{:else}
						<ul>
							{#each $otherIncidents as otherIncident}
								<li class="border" class:active={otherIncident.id === $currentIncident?.id}>
									<a href={'/operation/' + otherIncident.id}>
										<Icon icon={otherIncident.type} size="1.5em" />
										<div>
											<div>{otherIncident.name}</div>
											<div class="details">
												<TimeRange
													startTime={otherIncident.startTime}
													endTime={otherIncident.endTime}
													current={true}
													shortTime={true}
												/>
											</div>
										</div>
									</a>
								</li>
							{/each}
						</ul>
					{/if}
					{#if $currentIncident}
						<p>
							<a href="/operation"> New Incident </a>
						</p>
					{/if}
				{/if}
			</div>
		</div>
		<!--{config.titleSeparator}-->
		<!--div class="menu">
			<button
				aria-expanded={phaseOpen}
				aria-controls="incident-phase"
				disabled={!$currentIncident}
				on:click={() => (phaseOpen = !phaseOpen)}
			>
				{#if !$currentIncident?.phases?.length}
					No phases
				{/if}
				<Icon icon={phaseOpen ? 'collapse' : 'expand'} />
			</button>
			<div id="incident-phase" hidden={!phaseOpen}>test</div>
		</div-->
		<div class="cover" hidden={!menuOpen} on:click={closeAll} />
	</svelte:fragment>
	<svelte:fragment slot="userMenu">
		{#if $user && shareUrl}
			<a href={`https://share.10-97.org#${shareUrl}`} target="_blank"> Share my location </a>
		{/if}
	</svelte:fragment>
	<svelte:fragment slot="menu">
		<div class="menu">
			<Icon
				icon="download"
				title="Assignments"
				size="1.4em"
				button
				on:click={() => toggleMenu('download')}
				aria-expanded={menuOpen === 'download'}
				aria-controls="downloadMenu"
			/>
			<div id="downloadMenu" hidden={menuOpen !== 'download'}>
				<DownloadMenu />
			</div>
		</div>
		{#if $currentIncident}
			<div class="menu">
				<Icon
					icon="assignment"
					title="Assignments"
					size="1.4em"
					button
					on:click={() => toggleMenu('assignments')}
					aria-expanded={menuOpen === 'assignments'}
					aria-controls="assignmentsMenu"
				/>
				<div id="assignmentsMenu" hidden={menuOpen !== 'assignments'}>
					<Assignments incident={$currentIncident} />
				</div>
			</div>
		{/if}
	</svelte:fragment>
</Header>
<slot />

<style>
	.menu > button {
		background: none;
		color: inherit;
		font-size: 1em;
		border: none;
	}

	#downloadMenu,
	#assignmentsMenu {
		right: 0;
		left: unset;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
		padding: 0.5em 1em;
	}

	li > a {
		display: flex;
		align-items: center;
		gap: 0.5em;
		text-decoration: none;
	}

	li > a {
		display: flex;
		align-items: center;
		gap: 0.5em;
		text-decoration: none;
	}

	li > a > div {
		flex-grow: 1;
	}

	li > a .details {
		font-size: 0.7em;
	}
</style>
