<script>
	import EventForm from '$lib/components/events/form.svelte';
	import Icon from '$lib/components/icon.svelte';
	import { derived } from 'svelte/store';
	import {
		incidentEvents,
		fetchEvents,
		createEvent,
		deleteEvent,
		updateEvent,
		currentEventId,
		setCurrentEvent,
		currentEvent
	} from '$lib/stores/events';
	import { currentIncident } from '$lib/stores/incidents';
	import { browser } from '$app/env';
	import { pointEvents } from '$lib/events';
	import { makeId } from '$lib/utils';
	import { aList } from '$lib/stores/lists';

	let container;
	let padding;
	let eventListEl;
	let eventsExpanded = null;
	let wrapper;

	const eventTypes = aList('eventTypes');

	let currentEventBoundingBoxTimeout = null;

	const events = derived([incidentEvents], ([$incidentEvents]) => {
		if (!$incidentEvents) return null;

		if (!$incidentEvents.length) return [];

		let currentEventBoundingBox = null;

		if (currentEventBoundingBox) {
			clearTimeout(currentEventBoundingBoxTimeout);
		}

		if ($currentEventId) {
			const el = document.getElementById('event-' + $currentEventId);
			const id = $currentEventId;

			if (el) {
				const startRect = el.getBoundingClientRect();
				const listRect = eventListEl.getBoundingClientRect();
				if (
					startRect.top >= listRect.top &&
					startRect.top <= listRect.bottom &&
					startRect.bottom >= listRect.top &&
					startRect.bottom <= listRect.bottom
				) {
					currentEventBoundingBoxTimeout = setTimeout(() => {
						currentEventBoundingBoxTimeout = null;
						if ($currentEventId === id) {
							const endRect = el.getBoundingClientRect();

							if (endRect.bottom >= listRect.bottom) {
								const diff = endRect.bottom - listRect.bottom;

								eventListEl.scrollBy(0, diff);
							}
						}
					}, 0);
				}
			}
		}

		const $events = [...$incidentEvents];

		return $events;
	});

	const resetLastEvent = () => {
		setCurrentEvent(null);
	};

	// Reset the value of last event if the incident changes
	$: resetLastEvent($currentIncident);

	if (!$incidentEvents && browser) {
		fetchEvents(fetch);
	}

	const expand = () => {
		eventsExpanded = !eventsExpanded;
	};

	const collapse = (event) => {
		if (event.target === wrapper && eventsExpanded) {
			eventsExpanded = false;
		}
	};

	// TODO Change so can use with a event localId
	// TODO Use config for table name for incidents/ and events/?
	const onNewEvent = (event, relatedTo) => {
		const localId = makeId();
		setCurrentEvent(null);
		createEvent(
			{
				unsaved: true,
				localId,
				data: {
					[pointEvents.indexOf(event.target.value) !== -1 ? 'time' : 'startTime']:
						new Date().toISOString(),
					type: event.target.value,
					relatedTo: relatedTo || `incidents/${$currentIncident.id}`
				}
			},
			true
		);
		event.target.value = '';
		setCurrentEvent(localId);
		setTimeout(() => {
			if (container) {
				const el = document.getElementById('event-' + localId);
				if (el) {
					el.scrollIntoView();
				}
				//container.scrollTo(0, 0);
			}
		}, 0);
	};

	const focus = (eventObject) => {
		const id = eventObject.localId || eventObject.id;
		setCurrentEvent(id);

		if (timeouts[id]) {
			clearTimeout(timeouts[id]);
		}

		if (eventObject.unseen) {
			updateEvent(
				{
					...eventObject,
					unseen: false
				},
				true
			);
		}
	};

	const blur = (eventObject) => {
		const id = eventObject.localId || eventObject.id;

		if (eventObject.unsaved) {
			scheduleSave(id);
		}
	};

	const clickSaveCurrent = () => {
		const id = $currentEvent.localId || $currentEvent.id;
		if (timeouts[id]) {
			clearTimeout(timeouts[id]);
		}

		if ($currentEvent?.unsaved) {
			updateEvent($currentEvent);
		}
	};

	const scheduleSave = (id) => {
		if (timeouts[id]) {
			clearTimeout(timeouts[id]);
		}

		timeouts[id] = setTimeout(() => {
			// Find event
			let event = null;
			for (let i = 0; i < $events.length; i++) {
				if (
					($events[i].localId && $events[i].localId == id) ||
					($events[i].id && $events[i].id === id)
				) {
					event = $events[i];
					break;
				}
			}

			if (event !== null) {
				updateEvent(event);
			}
		}, 1000);
	};

	const timeouts = {};

	const onChange = (event, eventObject) => {
		const id = eventObject.localId || eventObject.id;

		if (timeouts[id]) {
			clearTimeout(timeouts[id]);
		}

		updateEvent(
			{
				...eventObject,
				unsaved: true,
				data: event.detail
			},
			true
		);

		scheduleSave(id);
	};

	/**
	 * Delete a log
	 *
	 * @param {OL.DataObject<OL.Event> eventObject
	 */
	function deleteItem(eventObject) {
		const id = eventObject.localId || eventObject.id;

		if (timeouts[id]) {
			clearTimeout(timeouts[id]);
		}

		deleteEvent(eventObject);
	}
</script>

<div class="events" aria-expanded={eventsExpanded} bind:this={wrapper} on:click={collapse}>
	<Icon
		button
		icon={eventsExpanded ? 'close' : 'list'}
		label={eventsExpanded ? 'Hide events' : 'Show events'}
		class="toggle"
		size="1.2em"
		on:click={expand}
	/>
	<div class="container" bind:this={container}>
		{#if $currentIncident}
			<div class="newButtons">
				<select
					class="button"
					disabled={!$currentIncident}
					style="width: 9ch; text-align: center;"
					on:change={onNewEvent}
				>
					<option value="">New Log</option>
					{#if $eventTypes}
						{#each $eventTypes as type (type.id)}
							<option value={type.id}>{type.label}</option>
						{/each}
					{/if}
				</select>
				{#if $currentEvent?.id}
					<select
						class="button"
						disabled={!$currentIncident}
						style="width: 15ch; text-align: center;"
						on:change={(event) => onNewEvent(event, `events/${$currentEvent.id}`)}
					>
						<option value="">New Related Log</option>
						{#if $eventTypes}
							{#each $eventTypes as type (type.id)}
								<option value={type.id}>{type.label}</option>
							{/each}
						{/if}
					</select>
				{/if}
				{#if $currentEvent?.unsaved}
					<button on:click={clickSaveCurrent}>Save</button>
				{/if}
			</div>
		{/if}
		{#if !$incidentEvents}
			{#if $currentIncident}
				Loading incident events...
			{/if}
		{:else}
			<div class="eventsList" bind:this={eventListEl}>
				{#each $events as o (o.localId || o.id)}
					<EventForm
						event={o.data}
						id={o.localId || o.id}
						class={'event border' +
							($currentEventId === (o.localId || o.id) ? ' active' : '') +
							($currentEventId && o.data.relatedTo === 'events/' + $currentEventId
								? ' related'
								: '') +
							(o.unseen ? ' unseen' : '') +
							(o.unsaved ? ' unsaved' : '')}
						on:focus={() => focus(o)}
						on:blur={() => blur(o)}
						on:change={(e) => onChange(e, o)}
						on:delete={() => deleteItem(o)}
						title={$currentEventId && o.data.relatedTo === 'events/' + $currentEventId
							? 'Related to selected event'
							: o.unseen
							? 'New event'
							: o.unsaved
							? 'Event not saved'
							: null}
					/>
				{/each}
			</div>
		{/if}
	</div>
	<div bind:this={padding} />
</div>

<style>
	.events {
		padding-bottom: 0.1em;
		width: 25%;
		min-width: 350px;
	}

	.events > :global(.toggle) {
		display: none;
	}

	.container {
		background: var(--background);
		max-height: calc(100vh - 2.3rem);
		/*overflow-y: auto;*/
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	@media (max-width: 800px) {
		.events > :global(.toggle) {
			display: unset;
			margin: 0.2em 0 0.5em 0;
		}

		.events {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 9000;
			min-width: unset;
			width: unset;
		}

		.container {
			display: none;
			padding: 0;
			margin: 0;
			min-width: unset;
			max-width: unset;
		}

		.events[aria-expanded='true'] .container {
			width: calc(100vw - 20px);
			height: 100%;
			display: flex;
		}

		.events[aria-expanded='true'] {
			width: 100%;
			height: 100%;
		}
	}

	.newButtons {
		padding: 0.5em 1em 0.5em 1em;
		background: var(--background);
		position: sticky;
		top: 0;
		z-index: 3;
	}

	.newButtons select {
		appearance: none;
		padding: 0.1em 0.4em 0.1em 0.2em;
	}

	.eventsList {
		flex-grow: 1;
		overflow-y: auto;
	}

	.events :global(textarea) {
		height: 1.5em;
	}

	.events :global(.event) {
		margin-bottom: 1em;
		padding: 0.2em 0.5em;
	}

	.events :global(.event.summary) {
		margin-bottom: 0;
	}

	.events :global(.event.active:invalid) {
		border-left: solid 4px var(--invalid-border-color);
	}
</style>
