<script>
	/*
	 * Uses the datalists in the root __layout.svelte
	 */
	import { createEventDispatcher, getContext } from 'svelte';
	import { lists, getListLabel, getListId } from '$lib/stores/lists';

	export let value = null;
	export let list;
	export let listOnly = false;

	const dispatch = createEventDispatcher();
	const config = getContext('config');

	let listData;
	let inputValue;

	const makeInputValue = (value) => {
		if (listData) {
			for (let i = 0; i < listData.length; i++) {
				if (typeof listData[i] === 'object') {
					if (listData[i].id === value) {
						return listData[i].label;
					}
				} else if (listData[i] === value) {
					return value;
				}
			}
		}

		return value;
	};

	const onEvent = (event) => {
		value = getListId(listData, event.target.value) || event.target.value;

		dispatch(event.type, {
			originalEvent: event,
			value
		});
	};

	// Update the input value whenever the list or value changes
	$: listData = $lists[list] || config.lists?.[list];
	$: {
		if (listOnly) {
			inputValue = value;
		} else {
			inputValue = makeInputValue(value);
		}
	}
	//TODO Not working $: inputValue = getListLabel(listData, value, true);
</script>

{#if listOnly}
	<select
		bind:value={inputValue}
		{...{ ...$$props, value: inputValue }}
		on:focus
		on:blur
		on:change={onEvent}
	>
		<option />
		{#each listData as item}
			{#if typeof item === 'object'}
				<option value={item.id}>{item.label}</option>
			{:else}
				<option>{item}</option>
			{/if}
		{/each}
	</select>
{:else}
	<input
		bind:value={inputValue}
		{...{ ...$$props, value: inputValue }}
		on:focus
		on:blur
		on:input={onEvent}
		on:change={onEvent}
	/>
{/if}
