<script>
	import Icon from '$lib/components/icon.svelte';
	import { toDatetimeLocal } from '$lib/date';
	import { createEventDispatcher } from 'svelte';
	export let value = null;
	export let required = null;
	let inputValue;

	const dispatch = createEventDispatcher();

	$: {
		if (value != null) {
			const date = new Date(value);

			if (!isNaN(date.getTime())) {
				inputValue = toDatetimeLocal(value);
			}
		}
	}

	const change = (event) => {
		if (event.target.validity.valid && event.target.value) {
			value = new Date(event.target.value).toISOString();
		} else {
			value = null;
		}

		dispatch('change', {
			originalEvent: event,
			value
		});
	};

	const setToNow = () => {
		value = new Date().toISOString();
		dispatch('input', {
			value
		});
		dispatch('change', {
			value
		});
	};
</script>

<div class="container">
	<input type="datetime-local" value={inputValue} on:change={change} on:focus on:blur {required} />
	<Icon button icon="now" label="Set to current time" on:click={setToNow} />
</div>

<style>
	.container {
		display: flex;
	}

	input {
		flex-grow: 1;
	}
</style>
