<script>
	export let icon;
	export let label = null;
	export let title = null;
	export let size = null;
	export let button = false;
	export let disabled = false;

	let classes;

	$: classes = $$props.class ? ' ' + $$props.class : '';

	const getSize = () => {
		if (size === 'double') {
			return '2em';
		} else if (size) {
			return size;
		} else {
			return '1em';
		}
	};
</script>

{#if button}
	<button type="button" on:click {disabled} title={title || label} class="icon {classes}">
		<svg class="icon-{icon}" style="height: {getSize()}; width: {getSize()}" aria-label={label}>
			<use xlink:href="#icon-{icon}" />
		</svg>
	</button>
{:else}
	<svg
		class="icon-{icon} {classes}"
		style="height: {getSize()}; width: {getSize()}"
		aria-label={label}
	>
		<use xlink:href="#icon-{icon}" />
	</svg>
{/if}

<style>
	[class^='icon-'],
	[class*=' icon-'] {
		fill: currentColor;
		vertical-align: middle;
	}
</style>
