<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="icon-user" viewBox="0 0 512 512">
		<path
			d="m457 401c0 23-7 41-21 55-14 13-32 19-55 19l-250 0c-23 0-41-6-55-19-14-14-21-32-21-55 0-10 0-20 1-29 1-10 2-20 4-31 2-11 4-22 7-31 3-10 8-19 13-28 5-9 11-17 17-23 7-7 15-12 25-16 9-3 20-5 32-5 1 0 5 2 12 6 6 4 13 9 21 14 8 5 18 9 31 13 13 4 25 6 38 6 13 0 25-2 38-6 13-4 23-8 31-13 8-5 15-10 21-14 7-4 11-6 12-6 12 0 23 2 32 5 10 4 18 9 25 16 6 6 12 14 17 23 5 9 10 18 13 28 3 9 5 20 7 31 2 11 3 21 4 31 1 9 1 19 1 29z m-91-255c0 31-11 56-32 78-22 21-48 32-78 32-30 0-56-11-78-32-21-22-32-47-32-78 0-30 11-56 32-77 22-22 48-32 78-32 30 0 56 10 78 32 21 21 32 47 32 77z"
		/>
	</symbol>

	<symbol id="icon-now" viewBox="0 0 512 512">
		<path
			d="m251 429c86 0 156-70 156-156 0-87-70-157-156-157-86 0-156 70-156 157 0 86 70 156 156 156m0-352c108 0 195 88 195 196 0 107-87 195-195 195-108 0-195-88-195-195 0-108 87-196 195-196m10 98l0 102 88 53-15 24-102-62 0-117z m13-137l-23 39-22-39z"
		/>
	</symbol>

	<symbol id="icon-me" viewBox="0 0 512 512">
		<path
			d="m413 157l-84 83 0 235c0 9-3 17-9 23-7 6-14 9-23 9-9 0-16-3-22-9-7-6-10-14-10-23l0-109-18 0 0 109c0 9-3 17-10 23-6 6-13 9-22 9-9 0-16-3-23-9-6-6-9-14-9-23l0-235-84-83c-5-6-8-12-8-20 0-7 3-14 8-19 6-6 12-8 20-8 7 0 14 2 19 8l65 65 106 0 65-65c5-6 12-8 19-8 8 0 14 2 20 8 5 5 8 12 8 19 0 8-3 14-8 20z m-93-47c0 17-6 33-19 45-12 12-27 19-45 19-18 0-33-7-45-19-13-12-19-28-19-45 0-18 6-33 19-46 12-12 27-18 45-18 18 0 33 6 45 18 13 13 19 28 19 46z"
		/>
	</symbol>

	<symbol id="icon-telephone" viewBox="0 0 512 512">
		<path
			d="m457 354c0 5-1 12-3 20-2 9-4 15-6 20-4 10-15 20-35 30-17 10-35 15-53 15-5 0-10 0-15-1-5-1-10-2-16-4-6-1-11-3-14-4-3-1-8-3-16-6-7-3-12-4-14-5-18-7-35-14-50-24-24-15-49-35-75-61-26-26-47-51-62-76-9-14-17-31-23-50-1-1-3-6-6-14-2-7-4-13-5-16-1-3-3-7-5-13-1-6-2-12-3-17-1-4-1-9-1-15 0-17 5-35 14-53 11-19 21-31 31-35 4-2 11-4 19-6 9-1 15-2 20-2 3 0 5 0 6 0 4 2 9 9 16 22 2 4 5 9 8 16 4 6 7 12 10 18 3 5 6 10 9 15 1 1 2 3 5 7 3 4 5 8 6 10 1 3 2 6 2 8 0 4-3 9-8 15-5 5-11 11-18 15-6 5-12 10-17 16-6 5-9 9-9 13 0 1 1 4 2 6 1 3 2 5 2 6 1 1 2 4 4 7 2 3 3 5 4 5 14 26 31 49 49 67 19 19 41 36 67 50 1 0 3 1 6 3 3 2 5 4 7 4 1 1 3 2 6 3 2 1 4 1 6 1 3 0 8-2 13-8 5-5 11-11 15-18 5-6 10-12 16-17 6-6 10-8 14-8 3 0 6 0 8 2 3 1 7 3 11 6 4 2 6 4 7 5 4 3 10 6 15 9 5 3 11 6 18 10 7 3 12 6 16 8 13 7 20 12 21 15 1 2 1 4 1 6z"
		/>
	</symbol>

	<symbol id="icon-radio" viewBox="0 0 512 512">
		<path
			d="m192 43c-12 0-21 9-21 21 0 121 0 242 0 363 0 23 19 42 42 42l107 0c24 0 43-19 43-42l0-235c0-24-19-43-43-43l-107 0 0-85c0-12-9-21-21-21m21 149l107 0 0 85-107 0z"
		/>
	</symbol>

	<symbol id="icon-tasking" viewBox="0 0 512 512">
		<path
			d="m64 107l128 0 0 128-128 0 0-128m43 42l0 43 42 0 0-43-42 0m128 0l213 0 0 43-213 0 0-43m0 171l213 0 0 43-213 0 0-43m-128 107l-75-75 30-30 45 44 98-97 30 30z"
		/>
	</symbol>

	<symbol id="icon-travelling" viewBox="0 0 512 512">
		<path
			d="m448 46c8 10 10 24 3 42-6 18-16 35-30 49l-46 46 45 199c1 4 0 7-3 9l-37 28c-1 1-3 2-5 2-1 0-2-1-2-1-3 0-5-2-6-4l-80-145-74 74 15 55c1 3 0 6-2 9l-27 27c-2 2-4 3-7 3l-1 0c-2-1-5-2-6-4l-54-72-72-54c-3-1-4-3-4-6 0-3 1-5 2-8l28-27c2-2 4-3 6-3 2 0 2 0 3 0l55 16 74-74-145-80c-3-2-4-4-5-7 0-3 1-6 3-8l36-36c3-3 6-4 9-3l190 46 46-46c14-14 30-25 49-31 18-6 32-5 42 4z"
		/>
	</symbol>

	<symbol id="icon-incident" viewBox="0 0 512 512">
		<path
			d="m381 162c3 4 4 8 2 12l-154 331c-3 5-7 7-12 7-1 0-3 0-4-1-4-1-6-2-8-5-1-3-2-6-1-9l56-230-116 28c0 1-2 1-3 1-4 0-7-1-9-3-3-3-5-7-4-12l58-235c0-3 2-5 4-7 3-2 5-2 8-2l94 0c4 0 7 1 9 3 3 3 4 5 4 9 0 1-1 3-2 5l-48 132 113-28c1 0 2-1 3-1 4 0 7 2 10 5z"
		/>
	</symbol>

	<symbol id="icon-event" viewBox="0 0 512 512">
		<path
			d="m55 475l402 0 0-292-402 0z m110-347l0-82c0-3-1-5-3-7-2-2-4-2-7-2l-18 0c-3 0-5 0-6 2-2 2-3 4-3 7l0 82c0 3 1 5 3 7 1 1 3 2 6 2l18 0c3 0 5-1 7-2 2-2 3-4 3-7z m219 0l0-82c0-3-1-5-3-7-1-2-3-2-6-2l-18 0c-3 0-5 0-7 2-2 2-3 4-3 7l0 82c0 3 1 5 3 7 2 1 4 2 7 2l18 0c3 0 5-1 6-2 2-2 3-4 3-7z m110-18l0 365c0 10-4 19-11 26-7 7-16 11-26 11l-402 0c-10 0-19-4-26-11-7-7-11-16-11-26l0-365c0-10 4-19 11-26 7-7 16-11 26-11l36 0 0-27c0-13 5-24 14-33 9-9 20-13 32-13l18 0c13 0 24 4 33 13 9 9 13 20 13 33l0 27 110 0 0-27c0-13 4-24 13-33 9-9 20-13 33-13l18 0c12 0 23 4 32 13 9 9 14 20 14 33l0 27 36 0c10 0 19 4 26 11 7 7 11 16 11 26z"
		/>
	</symbol>

	<symbol id="icon-exercise" viewBox="0 0 512 512">
		<path
			d="m256 107c-24 0-43 19-43 42 0 24 19 43 43 43 24 0 43-19 43-43 0-23-19-42-43-42m213-86l0 107-42 0 0-43-342 0 0 43-42 0 0-107 42 0 0 43 342 0 0-43 42 0m-149 219l0 251-43 0 0-107-42 0 0 107-43 0 0-251c-44-23-75-69-75-123l0-10 43 0 0 10c0 54 43 96 96 96 53 0 96-42 96-96l0-10 43 0 0 10c0 54-31 100-75 123z"
		/>
	</symbol>

	<symbol id="icon-menu" viewBox="0 0 512 512">
		<path
			d="m311 357l0 54c0 8-3 15-8 20-5 5-12 8-20 8l-54 0c-8 0-15-3-20-8-5-5-8-12-8-20l0-54c0-8 3-15 8-20 5-5 12-8 20-8l54 0c8 0 15 3 20 8 5 5 8 12 8 20z m0-147l0 55c0 8-3 14-8 20-5 5-12 8-20 8l-54 0c-8 0-15-3-20-8-5-6-8-12-8-20l0-55c0-7 3-14 8-19 5-5 12-8 20-8l54 0c8 0 15 3 20 8 5 5 8 12 8 19z m0-146l0 55c0 7-3 14-8 19-5 6-12 8-20 8l-54 0c-8 0-15-2-20-8-5-5-8-12-8-19l0-55c0-8 3-14 8-19 5-6 12-8 20-8l54 0c8 0 15 2 20 8 5 5 8 11 8 19z"
		/>
	</symbol>

	<symbol id="icon-bars" viewBox="0 0 512 512">
		<path
			d="m475 384l0 37c0 5-1 9-5 12-4 4-8 6-13 6l-402 0c-5 0-9-2-13-6-4-3-5-7-5-12l0-37c0-5 1-9 5-13 4-3 8-5 13-5l402 0c5 0 9 2 13 5 4 4 5 8 5 13z m0-146l0 36c0 5-1 10-5 13-4 4-8 6-13 6l-402 0c-5 0-9-2-13-6-4-3-5-8-5-13l0-36c0-5 1-10 5-13 4-4 8-6 13-6l402 0c5 0 9 2 13 6 4 3 5 8 5 13z m0-147l0 37c0 5-1 9-5 13-4 3-8 5-13 5l-402 0c-5 0-9-2-13-5-4-4-5-8-5-13l0-37c0-5 1-9 5-12 4-4 8-6 13-6l402 0c5 0 9 2 13 6 4 3 5 7 5 12z"
		/>
	</symbol>

	<symbol id="icon-log" viewBox="0 0 512 512">
		<path
			d="m456 109c5 5 10 12 14 21 4 9 5 18 5 25l0 330c0 7-2 14-8 19-5 5-11 8-19 8l-384 0c-8 0-14-3-19-8-6-5-8-12-8-19l0-458c0-7 2-14 8-19 5-5 11-8 19-8l256 0c8 0 16 2 25 6 9 4 17 8 22 13z m-127-70l0 107 108 0c-2-5-4-9-7-11l-89-90c-2-2-6-4-12-6z m110 436l0-292-119 0c-8 0-14-3-19-8-6-5-8-12-8-20l0-118-220 0 0 438z m-293-246c0-3 1-5 3-7 2-2 4-3 6-3l202 0c2 0 4 1 6 3 2 2 3 4 3 7l0 18c0 3-1 5-3 6-2 2-4 3-6 3l-202 0c-2 0-4-1-6-3-2-1-3-3-3-6z m211 64c2 0 4 0 6 2 2 2 3 4 3 7l0 18c0 3-1 5-3 7-2 1-4 2-6 2l-202 0c-2 0-4-1-6-2-2-2-3-4-3-7l0-18c0-3 1-5 3-7 2-2 4-2 6-2z m0 73c2 0 4 1 6 2 2 2 3 4 3 7l0 18c0 3-1 5-3 7-2 1-4 2-6 2l-202 0c-2 0-4-1-6-2-2-2-3-4-3-7l0-18c0-3 1-5 3-7 2-1 4-2 6-2z"
		/>
	</symbol>

	<symbol id="icon-othercommunication" viewBox="0 0 512 512">
		<path
			d="m256 110c-39 0-75 6-109 20-34 13-61 31-81 53-19 23-29 47-29 73 0 21 6 42 20 61 14 19 33 36 58 50l24 14-7 28c-5 17-12 34-20 49 29-12 55-28 78-49l13-11 16 2c13 2 25 2 37 2 39 0 75-6 109-20 34-13 61-31 81-53 19-23 29-47 29-73 0-26-10-50-29-73-20-22-47-40-81-53-34-14-70-20-109-20z m256 146c0 33-11 64-34 92-23 28-54 50-93 66-40 17-83 25-129 25-13 0-27-1-41-2-38 33-82 56-132 69-9 2-20 4-32 6l-2 0c-3 0-5-1-8-3-2-2-3-5-4-8l0 0c-1-1-1-2 0-4 0-1 0-2 0-2 0-1 1-2 2-3l1-3 2-2 3-3c1-1 4-5 8-10 5-5 8-8 10-10 2-3 5-6 9-12 4-5 7-10 9-14 3-5 5-10 8-17 3-7 5-14 8-22-30-17-54-38-71-63-17-25-26-51-26-80 0-33 11-64 34-92 23-28 54-50 93-66 40-17 83-25 129-25 46 0 89 8 129 25 39 16 70 38 93 66 23 28 34 59 34 92z"
		/>
	</symbol>

	<symbol id="icon-patient" viewBox="0 0 512 512">
		<path
			d="m384 274l0-36c0-5-2-10-5-13-4-4-8-6-13-6l-73 0 0-73c0-5-2-9-6-13-3-3-8-5-13-5l-36 0c-5 0-10 2-13 5-4 4-6 8-6 13l0 73-73 0c-5 0-9 2-13 6-3 3-5 8-5 13l0 36c0 5 2 10 5 13 4 4 8 6 13 6l73 0 0 73c0 5 2 9 6 13 3 3 8 5 13 5l36 0c5 0 10-2 13-5 4-4 6-8 6-13l0-73 73 0c5 0 9-2 13-6 3-3 5-8 5-13z m91-18c0 40-9 77-29 110-20 34-46 60-80 80-33 20-70 29-110 29-40 0-77-9-110-29-34-20-60-46-80-80-20-33-29-70-29-110 0-40 9-77 29-110 20-34 46-60 80-80 33-20 70-29 110-29 40 0 77 9 110 29 34 20 60 46 80 80 20 33 29 70 29 110z"
		/>
	</symbol>

	<symbol id="icon-check" viewBox="0 0 512 512">
		<path
			d="m403 210c0-6-1-10-5-13l-26-26c-3-4-8-6-13-6-5 0-9 2-12 6l-117 116-65-64c-3-4-7-6-12-6-5 0-10 2-13 6l-26 25c-4 4-5 8-5 13 0 6 1 10 5 13l103 104c4 3 8 5 13 5 5 0 10-2 13-5l155-155c4-4 5-8 5-13z m72 46c0 40-9 77-29 110-20 34-46 60-80 80-33 20-70 29-110 29-40 0-77-9-110-29-34-20-60-46-80-80-20-33-29-70-29-110 0-40 9-77 29-110 20-34 46-60 80-80 33-20 70-29 110-29 40 0 77 9 110 29 34 20 60 46 80 80 20 33 29 70 29 110z"
		/>
	</symbol>

	<symbol id="icon-home" viewBox="0 0 512 512">
		<path
			d="m421 283l0 138c0 5-2 9-6 12-3 4-8 6-13 6l-109 0 0-110-74 0 0 110-109 0c-5 0-10-2-13-6-4-3-6-7-6-12l0-138c0 0 0 0 0 0 0-1 0-1 0-1l164-136 165 136c0 0 0 1 0 1z m63-19l-17 21c-2 2-4 3-6 3l-1 0c-3 0-5-1-6-2l-198-165-198 165c-2 2-4 2-7 2-2 0-4-1-6-3l-17-21c-2-2-2-4-2-7 0-3 1-5 3-6l205-171c6-5 14-8 22-8 8 0 16 3 22 8l69 58 0-56c0-2 1-5 3-6 2-2 4-3 7-3l54 0c3 0 5 1 7 3 2 1 3 4 3 6l0 117 62 52c2 1 3 3 3 6 0 3 0 5-2 7z"
		/>
	</symbol>

	<symbol id="icon-signs" viewBox="0 0 512 512">
		<path
			d="m499 85c1 2 2 4 2 6 0 3-1 5-2 7l-41 40c-5 6-12 8-19 8l-384 0c-5 0-9-2-13-5-4-4-5-8-5-13l0-73c0-5 1-9 5-13 4-4 8-5 13-5l164 0 0-19c0-5 2-9 6-13 3-3 8-5 13-5l36 0c5 0 10 2 13 5 4 4 6 8 6 13l0 19 146 0c7 0 14 2 19 8z m-280 262l74 0 0 147c0 5-2 9-6 13-3 3-8 5-13 5l-36 0c-5 0-10-2-13-5-4-4-6-8-6-13z m238-128c5 0 9 2 13 6 4 3 5 8 5 13l0 73c0 5-1 9-5 13-4 3-8 5-13 5l-384 0c-7 0-14-3-19-8l-41-40c-1-2-2-4-2-7 0-2 1-4 2-6l41-41c5-5 12-8 19-8l146 0 0-54 74 0 0 54z"
		/>
	</symbol>

	<symbol id="icon-asterisk" viewBox="0 0 512 512">
		<path
			d="m442 300c8 5 14 12 17 22 2 10 1 19-4 28l-18 31c-5 9-12 15-22 17-10 3-19 2-28-3l-76-44 0 88c0 10-4 18-11 26-7 7-16 10-26 10l-36 0c-10 0-19-3-26-10-7-8-11-16-11-26l0-88-76 44c-9 5-18 6-28 3-10-2-17-8-22-17l-18-31c-5-9-6-18-4-28 3-10 9-17 17-22l76-44-76-44c-8-5-14-12-17-22-2-10-1-19 4-28l18-31c5-9 12-15 22-17 10-3 19-2 28 3l76 44 0-88c0-10 4-18 11-26 7-7 16-10 26-10l36 0c10 0 19 3 26 10 7 8 11 16 11 26l0 88 76-44c9-5 18-6 28-3 10 2 17 8 22 17l18 31c5 9 6 18 4 28-3 10-9 17-17 22l-76 44z"
		/>
	</symbol>

	<symbol id="icon-hazard" viewBox="0 0 512 512">
		<path
			d="m293 393l0-54c0-3-1-5-3-7-2-2-4-3-7-3l-54 0c-3 0-5 1-7 3-2 2-3 4-3 7l0 54c0 3 1 5 3 7 2 1 4 2 7 2l54 0c3 0 5-1 7-2 2-2 3-4 3-7z m-1-107l5-131c0-2-1-4-3-6-2-2-4-3-7-3l-62 0c-3 0-5 1-7 3-2 2-3 4-3 6l5 131c0 2 1 3 3 5 1 1 4 2 6 2l53 0c3 0 5-1 7-2 2-2 3-3 3-5z m-4-267l219 402c7 12 7 24 0 36-3 6-8 10-13 14-6 3-12 4-19 4l-438 0c-7 0-13-1-19-4-5-4-10-8-13-14-7-12-7-24 0-36l219-402c3-6 8-10 13-14 6-3 12-5 19-5 7 0 13 2 19 5 5 4 10 8 13 14z"
		/>
	</symbol>

	<symbol id="icon-flood" viewBox="0 0 512 512">
		<path
			d="m68 162c-6 5-12 7-19 6c-7-1-12-4-17-9c-5-5-7-11-6-19c0-7 3-13 9-18c16-14 30-24 40-31c11-7 26-14 46-20c20-7 42-8 66-2c24 5 51 16 81 33c30 17 57 27 80 28c23 1 40-2 51-9c11-6 26-18 45-34c13-10 25-9 36 3c11 14 10 26-3 37c-41 38-81 56-120 56c-34 0-72-12-113-36c-23-13-44-21-61-26c-18-5-33-5-48 0c-14 5-25 10-33 15c-8 5-19 14-34 26m376 56c13-11 25-10 36 3c11 14 10 26-3 37c-13 12-25 21-33 27c-9 7-21 13-37 20c-16 6-33 9-50 9c-32 0-70-12-113-35c-23-13-44-22-61-27c-18-5-33-5-48 0c-14 5-25 10-33 15c-8 5-19 14-34 26c-5 5-11 7-18 6c-8-1-13-4-18-9c-11-14-10-26 3-37c13-12 23-20 31-26c7-5 19-12 35-19c16-8 31-12 45-12c14 0 32 2 54 8c22 5 44 15 68 28c24 13 44 22 61 27c18 5 33 5 48 0c14-5 25-10 33-15c8-5 19-14 34-26m0 131c13-11 25-10 36 3c5 5 7 11 6 19c0 7-3 13-9 18c-13 12-25 21-33 27c-9 7-21 13-37 20c-16 6-33 9-50 9c-32 0-70-12-113-35c-23-13-44-22-61-27c-18-5-33-5-48-1c-14 5-25 10-34 15c-8 6-19 15-33 27c-5 5-11 7-18 6c-8-1-13-4-18-9c-11-14-10-26 3-37c13-12 23-20 31-26c7-5 19-12 35-19c16-8 31-11 45-12c14 0 32 2 54 8c22 5 44 15 68 29c24 12 44 21 61 26c18 5 33 5 48 0c14-5 25-10 33-15c8-5 19-14 34-26"
		/>
	</symbol>

	<symbol id="icon-fire" viewBox="0 0 512 512">
		<path
			d="m457 485l0 18c0 2-1 4-3 6-1 2-4 3-6 3l-384 0c-2 0-5-1-6-3-2-2-3-4-3-6l0-18c0-3 1-5 3-7 1-2 4-3 6-3l384 0c2 0 5 1 6 3 2 2 3 4 3 7z m-73-302c0 15-2 28-7 41-5 13-11 23-18 32-8 9-16 17-25 25-9 8-19 16-28 22-9 7-17 14-25 21-7 7-13 15-18 23-5 9-7 18-7 28 0 18 6 39 19 64l-1 0 0 0c-17-8-32-16-45-24-14-8-27-17-40-28-13-11-24-23-32-35-9-13-16-27-21-43-5-17-8-34-8-53 0-15 2-29 7-41 5-13 11-23 18-32 8-9 16-18 25-25 9-8 19-16 28-23 9-6 17-13 25-20 7-7 13-15 18-23 5-9 7-18 7-28 0-18-6-39-19-64l1 0 0 0c17 8 32 16 45 24 14 8 27 17 40 28 13 11 24 23 32 35 9 13 16 27 21 43 5 17 8 34 8 53z"
		/>
	</symbol>

	<symbol id="icon-expand" viewBox="0 0 512 512">
		<path
			d="m399 210c0 3-1 5-3 7l-133 133c-2 2-5 3-7 3-2 0-5-1-7-3l-133-133c-2-2-3-4-3-7 0-2 1-4 3-6l15-15c1-1 4-2 6-2 3 0 5 1 7 2l112 113 112-113c2-1 4-2 7-2 2 0 5 1 6 2l15 15c2 2 3 4 3 6z"
		/>
	</symbol>

	<symbol id="icon-collapse" viewBox="0 0 512 512">
		<path
			d="m399 338c0 3-1 5-3 7l-15 14c-1 2-4 3-6 3-3 0-5-1-7-3l-112-112-112 112c-2 2-4 3-7 3-2 0-5-1-6-3l-15-14c-2-2-3-4-3-7 0-2 1-4 3-6l133-133c2-2 5-3 7-3 2 0 5 1 7 3l133 133c2 2 3 4 3 6z"
		/>
	</symbol>

	<symbol id="icon-cup" viewBox="0 0 512 512">
		<path
			d="m391 171l-270 0-9-86 288 0m-336-42l43 389c2 21 20 37 42 37l214 0c21 0 40-16 42-37l43-389z"
		/>
	</symbol>

	<symbol id="icon-list" viewBox="0 0 512 512">
		<path
			d="m73 375l0 55c0 2-1 4-3 6-1 2-4 3-6 3l-55 0c-2 0-4-1-6-3-2-2-3-4-3-6l0-55c0-3 1-5 3-7 2-1 4-2 6-2l55 0c2 0 5 1 6 2 2 2 3 4 3 7z m0-110l0 55c0 2-1 5-3 6-1 2-4 3-6 3l-55 0c-2 0-4-1-6-3-2-1-3-4-3-6l0-55c0-2 1-4 3-6 2-2 4-3 6-3l55 0c2 0 5 1 6 3 2 2 3 4 3 6z m0-110l0 55c0 3-1 5-3 7-1 2-4 2-6 2l-55 0c-2 0-4 0-6-2-2-2-3-4-3-7l0-55c0-2 1-4 3-6 2-2 4-3 6-3l55 0c2 0 5 1 6 3 2 2 3 4 3 6z m439 220l0 55c0 2-1 4-3 6-2 2-4 3-6 3l-384 0c-3 0-5-1-7-3-1-2-2-4-2-6l0-55c0-3 1-5 2-7 2-1 4-2 7-2l384 0c2 0 4 1 6 2 2 2 3 4 3 7z m-439-329l0 55c0 2-1 4-3 6-1 2-4 3-6 3l-55 0c-2 0-4-1-6-3-2-2-3-4-3-6l0-55c0-3 1-5 3-7 2-2 4-2 6-2l55 0c2 0 5 0 6 2 2 2 3 4 3 7z m439 219l0 55c0 2-1 5-3 6-2 2-4 3-6 3l-384 0c-3 0-5-1-7-3-1-1-2-4-2-6l0-55c0-2 1-4 2-6 2-2 4-3 7-3l384 0c2 0 4 1 6 3 2 2 3 4 3 6z m0-110l0 55c0 3-1 5-3 7-2 2-4 2-6 2l-384 0c-3 0-5 0-7-2-1-2-2-4-2-7l0-55c0-2 1-4 2-6 2-2 4-3 7-3l384 0c2 0 4 1 6 3 2 2 3 4 3 6z m0-109l0 55c0 2-1 4-3 6-2 2-4 3-6 3l-384 0c-3 0-5-1-7-3-1-2-2-4-2-6l0-55c0-3 1-5 2-7 2-2 4-2 7-2l384 0c2 0 4 0 6 2 2 2 3 4 3 7z"
		/>
	</symbol>

	<symbol id="icon-barcode" viewBox="0 0 512 512">
		<path
			d="m18 439l-18 0 0-402 18 0z m18 0l-9 0 0-402 9 0z m27 0l-9 0 0-402 9 0z m45 0l-9 0 0-402 9 0z m45 0l-18 0 0-402 18 0z m36 0l-9 0 0-402 9 0z m18 0l-9 0 0-402 9 0z m18 0l-9 0 0-402 9 0z m44 0l-18 0 0-402 18 0z m45 0l-18 0 0-402 18 0z m36 0l-18 0 0-402 18 0z m36 0l-18 0 0-402 18 0z m27 0l-18 0 0-402 18 0z m54 0l-27 0 0-402 27 0z m18 0l-9 0 0-402 9 0z m27 0l-18 0 0-402 18 0z"
		/>
	</symbol>

	<symbol id="icon-close" viewBox="0 0 512 512">
		<path
			d="m367 336c6 6 9 13 9 22c0 8-3 16-9 22c-6 5-13 8-22 8c-8 0-16-3-22-8c0 0-68-78-68-78c0 0-67 78-67 78c-6 5-14 8-22 8c-9 0-16-3-22-8c-6-6-8-14-8-22c0-9 2-16 8-22c0 0 71-80 71-80c0 0-71-81-71-81c-6-6-8-13-8-22c0-8 2-16 8-22c6-5 13-8 22-8c8 0 16 3 22 8c0 0 67 78 67 78c0 0 68-78 68-78c6-5 14-8 22-8c9 0 16 3 22 8c6 6 9 14 9 22c0 9-3 16-9 22c0 0-71 81-71 81c0 0 71 80 71 80"
		/>
	</symbol>

	<symbol id="icon-crosshairs-valid" viewBox="0 0 512 512">
		<path
			d="m256 171c47 0 85 38 85 85 0 47-38 85-85 85-47 0-85-38-85-85 0-47 38-85 85-85m-191 106l-44 0 0-42 44 0c10-89 81-160 170-170l0-44 42 0 0 44c89 10 160 81 170 170l44 0 0 42-44 0c-10 89-81 160-170 170l0 44-42 0 0-44c-89-10-160-81-170-170m191-170c-83 0-149 66-149 149 0 83 66 149 149 149 83 0 149-66 149-149 0-83-66-149-149-149z"
		/>
	</symbol>

	<symbol id="icon-assignment" viewBox="0 0 512 512">
		<path
			d="m384 448l-320 0 0-288 320 0 0 96 32 0 0-160c0-17-14-32-32-32l-96 0c0-35-28-64-64-64-35 0-64 29-64 64l-96 0c-17 0-32 15-32 32l0 352c0 18 15 32 32 32l320 0c18 0 32-14 32-32l0-64-32 0z m-256-352c15 0 15 0 32 0 18 0 32-14 32-32 0-17 15-32 32-32 18 0 32 15 32 32 0 18 16 32 32 32 16 0 17 0 32 0 16 0 32 15 32 32l-256 0c0-19 14-32 32-32z m-32 256l64 0 0-32-64 0z m224-64l0-64-128 96 128 96 0-64 160 0 0-64z m-224 128l96 0 0-32-96 0z m160-224l-160 0 0 32 160 0z m-96 64l-64 0 0 32 64 0z"
		/>
	</symbol>

	<symbol id="icon-add" viewBox="0 0 512 512">
		<path
			d="m457 210l0 55c0 8-3 14-8 20-5 5-12 8-19 8l-119 0 0 118c0 8-3 15-8 20-5 5-12 8-20 8l-54 0c-8 0-15-3-20-8-5-5-8-12-8-20l0-118-119 0c-7 0-14-3-19-8-5-6-8-12-8-20l0-55c0-7 3-14 8-19 5-5 12-8 19-8l119 0 0-119c0-8 3-14 8-19 5-6 12-8 20-8l54 0c8 0 15 2 20 8 5 5 8 11 8 19l0 119 119 0c7 0 14 3 19 8 5 5 8 12 8 19z"
		/>
	</symbol>

	<symbol id="icon-run-fast" viewBox="0 0 512 512">
		<path
			d="m352 117c24 0 43-19 43-42 0-24-19-43-43-43-24 0-43 19-43 43 0 23 19 42 43 42m-77 297l22-94 44 43 0 128 43 0 0-160-45-43 13-64c30 34 72 53 117 53l0-42c-37 0-72-19-91-52l-22-34c-7-12-21-21-36-21-6 0-11 2-17 2l-111 47 0 100 43 0 0-72 38-15-34 173-105-22-8 43 149 30m-190-222c-11 0-21-10-21-21 0-12 10-22 21-22l64 0 0 43-64 0m22-85c-12 0-22-10-22-22 0-11 10-21 22-21l106 0 0 43-106 0m-43 170c-12 0-21-9-21-21 0-12 9-21 21-21l85 0 0 42z"
		/>
	</symbol>

	<symbol id="icon-resting" viewBox="0 0 512 512">
		<path
			d="m405 149l-170 0 0 150-171 0 0-192-43 0 0 320 43 0 0-64 384 0 0 64 43 0 0-192c0-47-39-86-86-86m-256 128c36 0 64-28 64-64 0-35-28-64-64-64-35 0-64 29-64 64 0 36 29 64 64 64z"
		/>
	</symbol>

	<symbol id="icon-delete" viewBox="0 0 512 512">
		<path
			d="m176 64l-112 112 0 160 112 112 160 0 112-112 0-160-112-112m-157 85l77 77 77-77 30 30-77 77 77 77-30 30-77-77-77 77-30-30 77-77-77-77"
		/>
	</symbol>

	<symbol id="icon-crosshairs-repeat" viewBox="0 0 512 512">
		<path
			d="m235 21l0 44c-89 10-160 81-170 170l-44 0 0 42 44 0c10 89 81 160 170 170l0 44 42 0 0-44c2 0 4-1 6-1-7-13-11-27-13-41-5 0-9 0-14 0-82 0-149-67-149-149 0-82 67-149 149-149 82 0 149 67 149 149 0 2 0 4 0 6 15 3 29 9 42 18 0-1 0-2 0-3l44 0 0-42-44 0c-10-89-81-160-170-170l0-44z m21 150c-47 0-85 38-85 85 0 47 38 85 85 85 7 0 14-1 21-2 12-32 34-56 63-69 1-5 1-9 1-14 0-47-38-85-85-85z m127 97l-48 48 48 48 0-32c39 0 65 42 47 77l24 24c37-57-3-133-71-133z m-72 70c-37 57 3 133 72 133l0 32 48-48-48-48 0 32c-40 0-66-42-48-77z"
		/>
	</symbol>

	<symbol id="icon-traffic-cone" viewBox="0 0 512 512">
		<path
			d="m256 309c-31 0-58-4-80-14c-23-9-35-20-36-33c15-42 25-69 29-81c3 10 13 18 30 24c17 6 36 9 57 9c22 0 41-3 57-9c16-6 26-14 30-24c4 12 13 39 28 81c-1 13-13 24-35 33c-23 10-50 14-80 14m0-171c-33 0-54-7-64-22c0 0 27-73 27-73c3-12 16-17 37-17c21 0 34 5 38 17c4 13 12 37 25 73c-9 15-30 22-63 22m225 197c14 5 21 12 21 21c0 8-6 16-19 24c0 0-180 96-180 96c-13 8-29 11-47 11c-18 0-33-3-46-11c0 0-182-96-182-96c-13-7-19-15-18-24c1-9 8-16 21-21c0 0 97-39 97-39c0 0-12 31-12 31c0 16 14 30 41 42c28 11 61 17 99 17c38 0 71-6 98-17c27-12 41-26 42-42c0 0-11-31-11-31c0 0 96 39 96 39"
		/>
	</symbol>

	<symbol id="icon-rest" viewBox="0 0 512 512">
		<path
			d="m405 149l-298 0 0 150-43 0 0-192-43 0 0 320 43 0 0-64 384 0 0 64 43 0 0-192c0-47-39-86-86-86"
		/>
	</symbol>

	<symbol id="icon-download" viewBox="0 0 512 512">
		<path
			d="m384 384c0-5-2-9-5-13-4-3-8-5-13-5-5 0-10 2-13 5-4 4-6 8-6 13 0 5 2 9 6 13 3 3 8 5 13 5 5 0 9-2 13-5 3-4 5-8 5-13z m73 0c0-5-2-9-5-13-4-3-8-5-13-5-5 0-9 2-13 5-4 4-5 8-5 13 0 5 1 9 5 13 4 3 8 5 13 5 5 0 9-2 13-5 3-4 5-8 5-13z m37-64l0 91c0 8-3 15-8 20-6 5-12 8-20 8l-420 0c-8 0-14-3-20-8-5-5-8-12-8-20l0-91c0-8 3-14 8-19 6-6 12-8 20-8l133 0 38 38c11 11 24 16 39 16 15 0 28-5 39-16l39-38 132 0c8 0 14 2 20 8 5 5 8 11 8 19z m-93-163c3 8 2 15-4 20l-128 128c-4 4-8 6-13 6-5 0-9-2-13-6l-128-128c-6-5-7-12-4-20 3-7 9-11 17-11l73 0 0-128c0-5 2-9 6-13 3-3 7-5 12-5l74 0c5 0 9 2 12 5 4 4 6 8 6 13l0 128 73 0c8 0 14 4 17 11z"
		/>
	</symbol>
</svg>
