<script>
	import { incidentGeometries } from '$lib/stores/geometries';
	import { currentIncident } from '$lib/stores/incidents';
	import { getContext } from 'svelte';
	import { saveAs } from 'file-saver';
	import Icon from '$lib/components/icon.svelte';

	let config = getContext('config');

	const osmIconMap = {
		home: 'special_house',
		check: 'special_symbol_check_mark',
		user: 'special_person',
		radio: 'special_microphone'
	};

	const earthIconMap = {
		check: 'http://maps.google.com/mapfiles/kml/shapes/flag.png',
		home: 'http://maps.google.com/mapfiles/kml/shapes/ranger_station.png',
		user: 'http://maps.google.com/mapfiles/kml/shapes/police.png'
	};

	/**
	 * Start the download of incident geometries
	 *
	 * @param {"gpx"} format Format of download
	 * @todo Polygon geometries
	 */
	function downloadGeometries(format) {
		let waypoints = '';

		if (!$incidentGeometries?.length) {
			return;
		}

		let output =
			'<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>\n' +
			'<gpx version="1.1" creator="10-97.org" ' +
			'xmlns="http://www.topografix.com/GPX/1/1" ' +
			'xmlns:osmand="https://osmand.net" ' +
			'xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ' +
			'xsi:schemaLocation="http://www.topografix.com/GPX/1/1 ' +
			'http://www.topografix.com/GPX/1/1/gpx.xsd">\n' +
			'	<metadata>\n' +
			`		<name><![CDATA[${$currentIncident.name} Geometries]]></name>\n` +
			'	</metadata>\n';

		let icon = null;
		let color = null;
		let type = null;
		for (const geometry of $incidentGeometries) {
			switch (geometry.data.geometry.type) {
				case 'Point':
					if (geometry.data.type && (type = config?.map?.types[geometry.data.type])) {
						icon = geometry.data.icon || type.icon || null;
						color = geometry.data.color || type.color || null;
					} else {
						icon = geometry.data.icon || null;
						color = geometry.data.color || null;
					}
					waypoints +=
						`	<wpt lat="${geometry.data.geometry.coordinates[1]}" lon="${geometry.data.geometry.coordinates[0]}">\n` +
						(geometry.data.name ? `		<name><![CDATA[${geometry.data.name}]]></name>\n` : '') +
						(geometry.data.description
							? `		<cmt><![CDATA[${geometry.data.description}]]></cmt>\n`
							: '') +
						'		<extensions>\n' +
						(icon
							? osmIconMap[icon]
								? `			<osmand:icon>${osmIconMap[icon]}</osmand:icon>\n`
								: ''
							: '') +
						(color ? `			<osmand:color>${color}</osmand:color>\n` : '') +
						'		</extensions>\n' +
						'	</wpt>\n';
					break;
				case 'LineString':
					color = geometry.data.color || null;

					output +=
						'	<trk>\n' +
						(geometry.data.name ? `		<name><![CDATA[${geometry.data.name}]]></name>\n` : '') +
						(geometry.data.description
							? `		<cmt><![CDATA[${geometry.data.description}]]></cmt>\n`
							: '') +
						'		<trkseg>\n';

					for (const point of geometry.data.geometry.coordinates) {
						output += `			<trkpt lat="${point[1]}" lon="${point[0]}">\n` + '			</trkpt>\n';
					}

					output +=
						'		</trkseg>\n' +
						'		<extensions>\n' +
						(geometry.data.track ? '			<osmand:show_arrows>true</osmand:show_arrows>\n' : '') +
						(color ? `			<osmand:color>${color}</osmand:color>\n` : '') +
						'		</extensions>\n' +
						'	</trk>\n';
					break;
			}
		}

		output += waypoints + '</gpx>';

		const blob = new Blob([output], { type: 'application/gpx+xml' });
		saveAs(blob, 'geometries.gpx');
	}
</script>

<ul>
	{#if $incidentGeometries?.length}
		<li><button on:click={() => downloadGeometries('gpx')}> Download geometry GPX </button></li>
	{/if}
</ul>

<style>
	ul button {
		background: none;
		padding: 0;
	}

	li {
		list-style: none;
	}
</style>
