<script>
	import Icon from '$lib/components/icon.svelte';
	import DatalistInput from '$lib/components/datalistInput.svelte';
	import { user } from '$lib/stores/user';
	export let value = null;
	export let required = null;

	const setToMe = () => {
		value = $user?.id;
	};
</script>

<div class="container">
	<DatalistInput bind:value list="personnel" on:focus on:blur on:input on:change {required} />
	<Icon
		button
		icon="me"
		label={$user ? 'Set to yourself' : null}
		on:click={setToMe}
		disabled={!$user}
	/>
</div>

<style>
	.container {
		display: flex;
	}
</style>
