<script>
	import { formatTimeRange } from '../date.js';

	export let startTime;
	export let endTime;
	export let current;
	export let shortTime;

	let formatted;
	let startDate;
	let endDate;

	$: startDate = startTime && (startTime instanceof Date ? startTime : new Date(startTime));
	$: endDate = endTime && (endTime instanceof Date ? endTime : new Date(endTime));
	$: formatted = formatTimeRange(
		startDate,
		endDate,
		true,
		shortTime
			? {
					timeFormat: {
						timeStyle: 'short'
					}
			  }
			: {}
	);
</script>

{#if startDate}
	<time datetime={startDate.toISOString()}>{formatted[0]}</time>
{/if}
{#if startDate && (endDate || current)}&ndash;{/if}
{#if endDate}
	<time datetime={endDate.toISOString()}>{formatted[1]}</time>
{:else if current}
	{typeof current === 'string' ? current : 'ongoing'}
{/if}
