<script>
	import { getContext } from 'svelte';
	import Icon from '$lib/components/icon.svelte';
	import DatalistInput from '$lib/components/datalistInput.svelte';
	import { user, setUser } from '$lib/stores/user';
	import { aList, getListLabel } from '$lib/stores/lists';

	const personnel = aList('personnel');
	let config = getContext('config');

	export let menuOpen = false;

	let userInput = user?.id;
	let userOpen = false;

	const changeUser = () => {
		setUser(
			userInput
				? {
						id: userInput,
						label: getListLabel($personnel, userInput)
				  }
				: null
		);
	};

	const closeAll = () => {
		userOpen = false;
	};

	$: {
		if (menuOpen) {
			userOpen = false;
		}
	}
</script>

<header>
	<div class="main">
		<h1>
			{config.name}
		</h1>
		<slot name="heading" />
	</div>
	<slot name="menu" />
	<div class="menu">
		<Icon
			icon="user"
			size="1.4em"
			title="User"
			button
			on:click={() => (userOpen = !userOpen)}
			aria-expanded={userOpen}
			aria-controls="user"
		/>
		<div id="user" hidden={!userOpen}>
			<h2>User</h2>
			<form on:submit={(e) => e.preventDefault()}>
				<label class:value={userInput}>
					<span>Current User</span>
					<DatalistInput
						list="personnel"
						class="user"
						bind:value={userInput}
						on:change={changeUser}
					/>
				</label>
			</form>
			<slot name="userMenu" />
		</div>
	</div>
	<div class="cover" hidden={!userOpen} on:click={closeAll} />
</header>

<style>
	header {
		display: flex;
		background: #ccc;
		background: var(--header-background);
		color: #000;
		color: var(--header-color);
		padding: 0.3rem 0 0.3rem 2rem;
	}

	h1 {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
		font-weight: normal;
	}

	.main {
		flex-grow: 1;
		text-align: center;
	}

	.user {
		display: flex;
		align-items: center;
	}

	.user :global(.user) {
		display: inline-block;
		margin: 0.2em 0;
	}

	#user {
		right: 0;
		left: unset;
		margin-top: 0.3rem;
	}

	#user form {
		min-width: 200px;
	}

	:global(.menu > button) {
		padding: 0 0.4em !important;
	}
</style>
